﻿@model Employees.Domain.Core.Employee

<div class="modal-content">
    <div class="modal-header">

        <h2>Delete</h2>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("Delete", "Employees", FormMethod.Post, new { id = "deleteForm" }))
            {
            <h3>Are you sure you want to delete this?</h3>
            

                <hr />
                <dl class="dl-horizontal">
                    @Html.HiddenFor(model=>model.Id)
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Position)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Position)
                    </dd>

                </dl>



                <div class="form-actions no-color">
                    <input type="button" value="Delete" class="btn btn-default" id="deleteSubmit" /> |
                    <a href="" class="cancelButton">Cancel</a>
                </div>
                }
            </div>
        </div>
    