﻿@model Employees.Domain.Core.Employee


<div class="modal-content">
    <div class="modal-header">
        <h4>Employee</h4>
        <hr />
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Position)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Position)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Chief)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Chief.Name)
            </dd>

        </dl>
    </div>
</div>

