﻿@model Employees.Domain.Core.Employee

<div class="modal-content">
    <div class="modal-header">
        <h2>Edit</h2>

    </div>
    <div class="modal-body">
        @using (Html.BeginForm("Edit", "Employees", FormMethod.Post, new { id = "editForm" }))
        {

            <div class="form-horizontal">
                <h4>Employee</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Chief, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ChiefId, ViewBag.Chiefs as SelectList, new { @class = "form-control" })

                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Save" class="btn btn-default" id="editSubmit" />|
                        <a href="" class="cancelButton">Cancel</a>
                    </div>
                </div>
            </div>
        }


    </div>
</div>

