﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "openModal", @id = "create-link" })
</p>

<div id="grid">
    Loading...
</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });

            updateGrid();

            $(".container").on("click", ".cancelButton", function (e) {
                e.preventDefault();
                $('#modDialog').modal('hide');
            });

            $(".container").on("click", ".openModal", function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });

            $(".container").on("click", "#editSubmit", function (e) {
                e.preventDefault();
                var form = $('#editForm');
                var data = getFormData(form);
                $.ajax({
                    url: "@Url.Action("Edit", "Employees")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "") {
                            $('#modDialog').modal('hide');
                            updateGrid();
                        } else {
                            $("#dialogContent").html(data);
                        }
                    }
                });
            });

            $(".container").on("click", "#createSubmit", function (e) {
                e.preventDefault();
                var form = $('#createForm');
                var data = getFormData(form);
                $.ajax({
                    url: "@Url.Action("Create", "Employees")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "") {
                            $('#modDialog').modal('hide');
                            updateGrid();
                        } else {
                            $("#dialogContent").html(data);
                        }

                    },

                });
            });

            $(".container").on("click", "#deleteSubmit", function (e) {
                e.preventDefault();
                var form = $('#deleteForm');
                var data = { Id: $("[name='Id']", form).val() };
                $.ajax({
                    url: "@Url.Action("Delete", "Employees")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        $('#modDialog').modal('hide');
                        updateGrid();
                    },

                });
            });

            function updateGrid() {
                $.ajax({
                    url: "@Url.Action("Grid", "Employees")",
                    data: "",
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        $("#grid").html(data);
                    }
                });
            };

            function getFormData(form) {
                var data = {
                    Id: $("[name='Id']", form).val(),
                    Name: $("[name='Name']", form).val(),
                    Position: $("[name='Position']", form).val(),
                    ChiefId: $("[name='ChiefId']", form).val()
                };
                return data;
            };

        });
    </script>
}